@using TKS_Thuc_Tap_V11_Data_Access.Controller.XNK
@using TKS_Thuc_Tap_V11_Data_Access.Entity.XNK
@inherits FBase;

@Layout_Default_Filter(m_grdNhap_Kho_Raw_Data, "")
<div style="padding-top: 10px;"></div>

<div class="row">
	<div class="col-lg-12">
		@((MarkupString)r_strError)

		<TelerikGrid Data="@m_arrNhap_Kho_Raw_Data" Height="calc(100vh - 170px)" Resizable="true" Reorderable="true" @ref="@m_grdNhap_Kho_Raw_Data">
			<GridExport>
				<GridExcelExport FileName="Nhap_Kho_Raw_Data_Export" AllPages="true" />
				<GridCsvExport FileName="Nhap_Kho_Raw_Data_Export" AllPages="true" />
			</GridExport>
			<GridColumns>
				@* <GridCheckboxColumn SelectAll="true" CheckBoxOnlySelection="true" Width="30px"></GridCheckboxColumn> *@
				
				@if (CCache_Grid_UI_Global.List_Data_By_Code("2009", "m_grdNhap_Kho_Raw_Data").Count > 0)
				{
					<FCommon_General_Col_Grid m_strFCode="2009" m_strTen_Grid="m_grdNhap_Kho_Raw_Data"></FCommon_General_Col_Grid>
				}
				else
				{
					<GridColumn Field="Ngay_Nhap_String" Title="Ngày nhập" Width="100px"></GridColumn>
					<GridColumn Field="So_Phieu_Nhap" Title="Số phiếu nhập" Width="100px"></GridColumn>
					<GridColumn Field="Ten_NCC" Title="NCC" Width="300px"></GridColumn>
					<GridColumn Field="Ma_San_Pham" Title="Mã sản phẩm" Width="100px"></GridColumn>
					<GridColumn Field="Ten_San_Pham" Title="Tên sản phẩm" Width="300px"></GridColumn>
					<GridColumn Field="SL_Nhap" Title="SL nhập" Width="100px"></GridColumn>
					<GridColumn Field="Don_Gia_Nhap" Title="Đơn giá" Width="100px"></GridColumn>
					<GridColumn Field="Tri_Gia" Title="Trị giá" Width="100px"></GridColumn>
					<GridColumn Field="" Title=""><FooterTemplate Context="Footer"></FooterTemplate></GridColumn>
				}
			</GridColumns>
		</TelerikGrid>
	</div>
</div>

@if (r_bIs_Show_Help_Guide == true)
{
	<FCommon_Help_Guide m_strFCode="@r_strActive_Function_Code" OnClose="@Close_Helpguide"></FCommon_Help_Guide>
}


@code {
	private List<CXNK_Nhap_Kho_Raw_Data> m_arrNhap_Kho_Raw_Data = new();
	private TelerikGrid<CXNK_Nhap_Kho_Raw_Data> m_grdNhap_Kho_Raw_Data = new();

	protected override void Init_Data()
	{
		r_bIs_Show_Tool = false;
	}

	protected override void Load_Data()
	{
		CXNK_Nhap_Kho_Raw_Data_Controller v_objCtrData = new();

		//Format lại grid đúng chuẩn, Đặt trước hàm load dữ liệu vì nó sẽ chạy nhanh hơn
		Format_Grid(m_grdNhap_Kho_Raw_Data);

		m_arrNhap_Kho_Raw_Data = v_objCtrData.F3001_sp_sel_List_NKRD_For_Form_List_By_Date(r_objFilter.Date_From, r_objFilter.Date_To);
	}

	protected override void Delete_Data_Entry(long p_iAuto_ID)
	{
		CXNK_Nhap_Kho_Raw_Data_Controller v_objCtrData = new();

		// Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
		CXNK_Nhap_Kho_Raw_Data v_objData = v_objCtrData.FQ_719_NKRD_sp_sel_Get_By_ID(p_iAuto_ID);
		if (v_objData != null)
			r_strDelete_Key = v_objData.SL_Nhap.ToString();
		// End tracking

		v_objCtrData.FQ_719_NKRD_sp_del_Delete_By_ID(p_iAuto_ID, r_strActive_User_Name, r_strActive_Function_Code);
	}
}
